/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  body{
      height: 100vh;
      width: 100vw;
      background-image: url(./images/coloseum.jpeg);
      background-size: auto;
  }

  header{
      height: 10vh;
      width: 100%;
  }

  header > h1{
      text-align: center;
      position: relative;
      font-size: 1.5em;
      color: crimson;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .about{
      position: relative;
      left: 5%;
  }

  .stats{
    border: 3px solid black;
    position: absolute;
    height: 14vh;
    width: 90vw;
    top: 85%;
    left: 4%;
  }
  .numberOfAttempts, .howAccurate, .numberOfGames, .matches{
      font-family: monospace;
      font-weight: bold;
      padding-top: 5%;
      font-size: 1em;
      display: inline-block;
      margin-left: 4vw;
  }
  /*color for sidebar
  */
  .matches{
      color: orange;
      bottom: 5%;
  }

  .numberOfGames{
      color: rgb(214, 82, 5);
      top: 5%;
  }

  .numberOfAttempts{
      top:30%;
      color: firebrick;
  }

  .howAccurate{
      color: orangered;
      top: 20%;
  }
  button{
      width: 35%;
      height: 4vh;
      background-color: crimson;
      font-size: 1em;
      font-weight: bold;
  }

  .reset-button{
      position: relative;
      top: 13%;
      left: 29%;
  }

  .game-area{
      position: relative;
      height: 50vh;
      width: 100vw;
      display: flex;
      margin: auto;
      flex-wrap: wrap;
      perspective: 1000px;

  }


  .game {
      position: relative;
      height: 32%;
      width: 15%;
      left: 10%;
      top: 7%;
      margin: 5px;

  }

  .cardContainer:active{
      transform: scale(.97);
      transition: transform .2s;
  }

  .cardContainer.flip{
      transform: rotateY(180deg);
  }

  .cardContainer{
    transform: scale(1);
      transform-style: preserve-3d;
      transition: transform .5s;
      width: 25%;
      height: 26%;
      display: inline-block;
      position: relative;
      margin: 2px;
      left: 11%;
      bottom: 12%;
      background-size: cover;
  }


  div.charecter{
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    /* left: 10%;
    top: 10%;
    margin: 5px; */
    background-size: cover;
    /* transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s; */


  }

  div.front{

      position: absolute;
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 20px;
      backface-visibility: hidden;
  }

  .pic{
      background-image: url(./images/gladiator.jpg);
  }


  }


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  body{
      height: 100vh;
      width: 100vw;
      background-image: url(./images/coloseum.jpeg);
      background-size: auto;
  }

  header{
      height: 10vh;
      width: 100%;
  }

  header > h1{
      text-align: center;
      position: relative;
      font-size: 3em;
      color: crimson;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .about{
      position: relative;
      left: 5%;
  }

  .stats{
      border: 3px solid black;
      position: absolute;
      height: 87vh;
      width: 21vw;
      top: 11%
  }
  .numberOfAttempts, .howAccurate, .numberOfGames, .matches{
      position: relative;
      font-family: monospace;
      font-weight: bold;
      left: 5%;
      padding-top: 5%;
      font-size: 2em;
  }
  /*color for sidebar
  */
  .matches{
      color: orange;
  }

  .numberOfGames{
      color: rgb(214, 82, 5);
      top: 5%;
  }

  .numberOfAttempts{
      top:23%;
      color: firebrick;
  }

  .howAccurate{
      color: orangered;
      top: 20%;
  }
  button{
      width: 67%;
      height: 6vh;
      background-color: crimson;
      font-size: 1em;
      font-weight: bold;
  }

  .reset-button{
      position: relative;
      top: 28%;
      left: 5%;
  }

  .game-area{
      position: relative;
      height: 55vh;
      width: 83vw;
      display: flex;
      margin: auto;
      flex-wrap: wrap;
      perspective: 1000px;

  }


  .game {
      position: relative;
      height: 32%;
      width: 15%;
      left: 10%;
      top: 7%;
      margin: 5px;

  }

  .cardContainer:active{
      transform: scale(.97);
      transition: transform .2s;
  }

  .cardContainer.flip{
      transform: rotateY(180deg);
  }

  .cardContainer{
    transform: scale(1);
      transform-style: preserve-3d;
      transition: transform .5s;
      width: 25%;
      height: 26%;
      display: inline-block;
      position: relative;
      margin: 2px;
      left: 17%;
      background-size: cover;
  }

  div.charecter{
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 100%;
      /* left: 10%;
      top: 10%;
      margin: 5px; */
      background-size: cover;
      transform: scale(1);
      transform-style: preserve-3d;
      transition: transform .5s;


  }

  div.front{

      position: absolute;
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 20px;
      backface-visibility: hidden;
  }

  .pic{
      background-image: url(./images/gladiator.jpg);
  }
  /* .cardContainer{
      width: 30%;
      height: 28%;
      display: inline-block;
      position: relative;
      margin: 2px;
      left: 6%;
      bottom: 12%;
  } */
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  body{
      height: 100vh;
      width: 100vw;
      background-image: url(./images/coloseum.jpeg);
      background-size: auto;
  }

  header{
      height: 10vh;
      width: 100%;
  }

  header > h1{
      text-align: center;
      position: relative;
      font-size: 3em;
      color: crimson;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .about{
      position: relative;
      left: 5%;
  }

  .stats{
      border: 3px solid black;
      position: absolute;
      height: 87vh;
      width: 21vw;
      top: 11%
  }
  .numberOfAttempts, .howAccurate, .numberOfGames, .matches{
      position: relative;
      font-family: monospace;
      font-weight: bold;
      left: 5%;
      padding-top: 5%;
      font-size: 2em;
  }
  /*color for sidebar
  */
  .matches{
      color: orange;
  }

  .numberOfGames{
      color: rgb(214, 82, 5);
      top: 5%;
  }

  .numberOfAttempts{
      top:23%;
      color: firebrick;
  }

  .howAccurate{
      color: orangered;
      top: 20%;
  }
  button{
      width: 67%;
      height: 6vh;
      background-color: crimson;
      font-size: 1em;
      font-weight: bold;
  }

  .reset-button{
      position: relative;
      top: 28%;
      left: 5%;
  }

  .game-area{
      position: relative;
      height: 55vh;
      width: 83vw;
      display: flex;
      margin: auto;
      flex-wrap: wrap;
      perspective: 1000px;

  }


  .game {
      position: relative;
      height: 32%;
      width: 15%;
      left: 10%;
      top: 7%;
      margin: 5px;

  }

  .cardContainer:active{
      transform: scale(.97);
      transition: transform .2s;
  }

  .cardContainer.flip{
      transform: rotateY(180deg);
  }

  .cardContainer{
    transform: scale(1);
      transform-style: preserve-3d;
      transition: transform .5s;
      width: 25%;
      height: 26%;
      display: inline-block;
      position: relative;
      margin: 2px;
      left: 17%;
      background-size: cover;
  }

  div.charecter{
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 100%;
      /* left: 10%;
      top: 10%;
      margin: 5px; */
      background-size: cover;
      transform: scale(1);
      transform-style: preserve-3d;
      transition: transform .5s;


  }

  div.front{

      position: absolute;
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 20px;
      backface-visibility: hidden;
  }

  .pic{
      background-image: url(./images/gladiator.jpg);
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  body{
      height: 100vh;
      width: 100vw;
      background-image: url(./images/coloseum.jpeg);
      background-size: auto;
  }

  header{
      height: 10vh;
      width: 100%;
  }

  header > h1{
      text-align: center;
      position: relative;
      font-size: 3em;
      color: crimson;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .about{
      position: relative;
      left: 5%;
  }

  .stats{
      border: 3px solid black;
      position: absolute;
      height: 87vh;
      width: 21vw;
      top: 11%
  }
  .numberOfAttempts, .howAccurate, .numberOfGames, .matches{
      position: relative;
      font-family: monospace;
      font-weight: bold;
      left: 5%;
      padding-top: 5%;
      font-size: 2em;
  }
  /*color for sidebar
  */
  .matches{
      color: orange;
  }

  .numberOfGames{
      color: rgb(214, 82, 5);
      top: 5%;
  }

  .numberOfAttempts{
      top:23%;
      color: firebrick;
  }

  .howAccurate{
      color: orangered;
      top: 20%;
  }
  button{
      width: 67%;
      height: 6vh;
      background-color: crimson;
      font-size: 1em;
      font-weight: bold;
  }

  .reset-button{
      position: relative;
      top: 28%;
      left: 5%;
  }

  .game-area{
      position: relative;
      height: 55vh;
      width: 75vw;
      display: flex;
      margin: auto;
      flex-wrap: wrap;
      perspective: 1000px;

  }


  .game {
      position: relative;
      height: 32%;
      width: 15%;
      left: 10%;
      top: 7%;
      margin: 5px;

  }

  .cardContainer:active{
      transform: scale(.97);
      transition: transform .2s;
  }

  .cardContainer.flip{
      transform: rotateY(180deg);
  }

  .cardContainer{
    transform: scale(1);
      transform-style: preserve-3d;
      transition: transform .5s;
      width: 21%;
      height: 27%;
      display: inline-block;
      position: relative;
      margin: 2px;
      left: 24%;
      background-size: cover;
      margin-left: 4%;
      bottom: 5%;
  }

  div.charecter{
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 100%;
      /* left: 10%;
      top: 10%;
      margin: 5px; */
      background-size: cover;
      transform: scale(1);
      transform-style: preserve-3d;
      transition: transform .5s;


  }

  div.front{

      position: absolute;
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 20px;
      backface-visibility: hidden;
  }

  .pic{
      background-image: url(./images/gladiator.jpg);
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url(./images/coloseum.jpeg);
    background-size: auto;
}

header{
    height: 10vh;
    width: 100%;
}

header > h1{
    text-align: center;
    position: relative;
    font-size: 4em;
    color: crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.about{
    position: relative;
    left: 5%;
}

.stats{
    border: 3px solid black;
    position: absolute;
    height: 75vh;
    width: 15vw;
    top: 20%
}
.numberOfAttempts, .howAccurate, .numberOfGames, .matches{
    position: relative;
    font-family: monospace;
    font-weight: bold;
    left: 5%;
    padding-top: 5%;
    font-size: 2em;
}
/*color for sidebar
*/
.matches{
    color: orange;
    bottom: 5%;
}

.numberOfGames{
    color: rgb(214, 82, 5);
    top: 5%;
}

.numberOfAttempts{
    top:30%;
    color: firebrick;
}

.howAccurate{
    color: orangered;
    top: 20%;
}
button{
    width: 60%;
    height: 4vh;
    background-color: crimson;
    font-size: 1em;
    font-weight: bold;
}

.reset-button{
    position: relative;
    top: 28%;
    left: 5%;
}

.game-area{
    position: relative;
    height: 70vh;
    width: 79vw;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    perspective: 1000px;

}


.game {
    position: relative;
    height: 32%;
    width: 15%;
    left: 10%;
    top: 7%;
    margin: 5px;

}

.charecter:active{
    transform: scale(.97);
    transition: transform .2s;
}

.charecter.flip{
    transform: rotateY(180deg);
}


div.charecter{
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    /* left: 10%;
    top: 10%;
    margin: 5px; */
    background-size: cover;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;


}

div.front{

    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 20px;
    backface-visibility: hidden;
}

.pic{
    background-image: url(./images/gladiator.jpg);
}
.cardContainer{
    width: 15%;
    height: 28%;
    display: inline-block;
    position: relative;
    margin: 2px;
    left: 13%;
    top: 17%;
}


}
